@import './reset.css';
@import './variable.css';

/* Components */
@import './components/chatEnter.css';
@import './components/headerBar.css';
@import './components/modal.css';
@import './components/modalAlert.css';
@import './components/navBar.css';
@import './components/userList.css';

/* Screens */
@import 'screens/main.css';
@import 'screens/lodding.css';
@import 'screens/register.css';
/* Chat */
@import 'screens/chat.css';
@import 'screens/chatting.css';
/* Home */
@import 'screens/home.css';
@import 'screens/homeNotFollow.css';
/* Posting */
@import 'screens/posting.css';
/* User Profile */
@import 'screens/profileModification.css';
@import 'screens/userProfile.css';
@import 'screens/yourProfile.css';
@import 'screens/yourProfileFollow.css';

body {
  font-family: San Francisco, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
