<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/asset/images/favicon.ico" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>60'' Market</title>
  </head>
  <body>
    <header>
      <article class="headerBar">
        <!-- 뒤로가기 아이콘 : 필요 없으면 삭제 -->
        <img class="headerBarBack" src="../asset/images/icons/icon__arrowLeft.svg" alt="뒤로가기" />

        <!-- search 바 -->
        <!-- <input type="text" class="headerBarSearch headerBarInput" /> -->

        <!-- 유저 이름 / 페이지 타이틀 등등 입력란 : 필요 없으면 삭제  -->
        <!-- <p class="headerBarText headerBarInput" class="">텍스트입력</p> -->

        <!-- 버튼들 -->
        <!-- 모달창 클릭 : 필요 없으면 삭제 -->
        <!-- <img
          class="headerBarModal headerBarBtn"
          src="../asset/images/icons/icon__menu.svg"
          alt="메뉴"
        /> -->

        <!-- 저장 / 업로드 버튼 : 필요 없으면 삭제  -->
        <!-- <button type="button" class="headerBarSettingBtn headerBarBtn">
          업로드
        </button> -->
      </article>
    </header>
  </body>
</html>
