main .post {
  padding: 4px 0;
}

.post .moreBtn {
  width: 20px;
  height: 20px;
  background: url('../../asset/images/icons/icon__menu.svg') no-repeat center /
    20px 20px;
}

.post .postContent {
  padding: 0 16px 0 80px;
}

.post .postContent p {
  font-size: 14px;
  font-weight: 400;
  word-break: break-all;
  margin-bottom: 16px;
}

.post .postContent ul li img {
  border-radius: 10px;
  margin-bottom: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postContent .postBtnContent {
  display: flex;
}

.postBtnContent .likeBtn {
  border: none;
  display: flex;
  align-items: center;
  margin-right: 18px;
  cursor: pointer;
  background-color: white;
}

.postBtnContent .likeBtn::before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background: url('../../asset/images/icons/icon__heart.svg') no-repeat center /
    20px 20px;
  margin-right: 6px;
}

.postBtnContent .commentBtn {
  display: flex;
  align-items: center;
  margin-right: 18px;
  cursor: pointer;
}

.postBtnContent .commentBtn::before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background: url('../../asset/images/icons/icon__message.svg') no-repeat center /
    20px 20px;
  margin-right: 6px;
}

.postBtnContent .likeCount,
.commentCount {
  font-size: 12px;
  line-height: 12px;
  color: var(--textColor);
}

.postContent .postDate {
  display: block;
  margin-top: 10px;
  font-size: 10px;
  color: var(--textColor);
}
