.ProfileContent .followBtn {
  padding: 8px 40px;
  vertical-align: top;
  margin: 0 10px;
  color: white;
  border-radius: 30px;
  background-color: var(--mainColor);
}

.link .messageBtn {
  border: 1px solid var(--borderColor);
  border-radius: 50%;
  padding: 6px;
}

.albumBar .albumType.unselected {
  opacity: 0.3;
}

main .profile.post {
  padding: 16px 0px;
}

.profile.post .profile.moreBtn {
  width: 20px;
  height: 20px;
  background: url("../../asset/images/icons/icon__menu.svg") no-repeat center / 20px 20px;
}

.profile.post .profile.postContent {
  padding: 0 16px 0 80px;
}

.profile.post .profile.postContent ul li img {
  border-radius: 10px;
  margin-bottom: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile.postContent .profile.postBtnContent {
  display: flex;
}

.profile.postBtnContent .profile.likeBtn {
  border: none;
  display: flex;
  align-items: center;
  margin-right: 18px;
  cursor: pointer;
  background-color: white;
}

.profile.postBtnContent .profile.likeBtn::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../../asset/images/icons/icon__heart.svg") no-repeat center / 20px 20px;
  margin-right: 6px;
}

.profile.postBtnContent .profile.commentBtn {
  display: flex;
  align-items: center;
  margin-right: 18px;
  cursor: pointer;
}

.profile.postBtnContent .profile.commentBtn::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../../asset/images/icons/icon__message.svg") no-repeat center / 20px 20px;
  margin-right: 6px;
}

.profile.postBtnContent .profile.likeCount,
.profile.commentCount {
  font-size: 12px;
  line-height: 12px;
  color: var(--textColor);
}

.profile.postContent .profile.postDate {
  display: block;
  margin-top: 10px;
  font-size: 10px;
  color: var(--textColor);
}
