<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <title></title>
  </head>
  <body>
    <article class="deleteAlert">
      <h4 class="ir">게시글 삭제 창</h4>
      <strong class="aletMsg">게시글을 삭제할까요?</strong>
      <div class="deletBtnCnt">
        <button class="cancelBtn">취소</button>
        <button class="delBtn">삭제</button>
        <!-- <button class="logoutBtn">로그아웃</button> -->
      </div>
    </article>
  </body>
</html>
