<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <title></title>
  </head>
  <body>
    <section class="modalBg">
      <article class="modal">
        <button class="modalClose">
          <span class="ir">더보기 닫기 버튼</span>
        </button>
        <!-- 로그아웃 모달 -->
        <!-- <button class="modalBtn">설정 및 개인정보</button>
        <button class="modalBtn">로그아웃</button> -->

        <!-- 댓글 모달 -->
        <!-- <button class="modalBtn">신고하기</button> -->
        <!-- <button class="modalBtn">삭제</button> -->

        <!-- 채팅방 닫기 모달 -->
        <!-- <button class="modalBtn">채팅방 나가기</button> -->

        <!-- 게시글 삭제 모달 -->
        <button class="modalBtn">삭제</button>
        <button class="modalBtn">수정</button>
      </article>
    </section>
  </body>
</html>
