<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/asset/images/favicon.ico" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>60'' Market</title>
  </head>
  <body>
    <section>
      <ul class="userList">
        <li class="userItem">
          <!-- 유저 프로필 / 채팅방으로 이동해야할 때 사용 : 이동할 필요 없으면 a 태그를 article로 수정해 사용 -->
          <a href="#" class="userBox">
            <img src="/asset/images/basic-profile.svg" alt="프로필 이미지" class="userProfileImage" />
            <div class="userInfo">
              <strong class="userNickname">애월읍 위니브 감귤농장</strong>
              <!-- 메시지 / 상태 메시지 : 필요 없는 경우 삭제 -->
              <div class="userText">
                <!-- 상태 메시지로 변경해서 css 적용 / ID 작성해서 사용 -->
                <p class="userMsgContent userStatusMsg">이번에 정정 언제하맨마씸?</p>
                <!-- 메시지 날짜 : 필요 없는 경우 삭제 -->
                <p class="userMsgContent userMsgDate">2022. 08. 01</p>
              </div>
            </div>
            <!-- follow 버튼 : 필요 없는 경우 삭제 -->
            <button class="followBtn">팔로우</button>
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
